// For some reason I installed tingle but it didn't get the styles.
@import './styles/tingle.min.css', './styles/sass/variables';

body {
  background-color: $background;
  font-family: $font;
}

img {
  width: 100%;
}

table {
  /* this somehow makes it work for td */
  table-layout: fixed;
  width: 100%;
}

article {
  // width: 50%;
  // margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: $background-dark;
}

.flags {
  display: flex;
  justify-content: center;
}

.flags__card {
  background-color: $white;
  padding: 1em;
  border-radius: 10px;
  margin: 1em;
}

.tingle-demo {
  display: none;
}

.flags__img {
  width: 50%;
}

.flags__table {
  background-color: white;
  border: 1px solid cadetblue;
  padding: 2em;
}

.table__titles {
  color: blue;
  font-size: 1.5rem;
  font-weight: bold;
}
